*{margin: 0;padding: 0;}
.nanyang{width: 100%;height: 100%;}
.n-top{height: 595px;background: red;}
.n-top2{height: 393px;background: url(../img/0715/1-2.jpg) center 0 no-repeat;}
.n-city{height: 1200px;background: url(../img/0715/2.jpg) center 0 no-repeat;}
.n-show{height: 570px;background: url(../img/0715/3.jpg) center 0 no-repeat;}
.city-list,.city-show{margin: 0 auto;}
.city-list{padding-top: 30px;height: 1200px;width: 1200px;}
.city-list ul{margin-left: 65px;}
.city-show{padding-top: 60px;height: 300px;padding-left: 26px;width: 1200px;}
.flight{display: block;float: left;width: 294px;height: 237px;background: url(../img/0715/tip-1.png) 0 0 no-repeat;margin-right: 79px;margin-bottom: 50px;text-align: center;}
.flight1{background: url(../img/0715/tip-2.png) 0 0 no-repeat;}
.flight p{font-size: 34px;color: #6b1e04;font-weight: bold;margin-top: 105px;}
.flight a{display: block;width: 155px;height: 49px;background: #ff5a1a;border-radius: 5px;text-align: center;margin:0 auto;color: #fff;font-size: 32px;text-decoration: none;line-height: 49px;margin-top: 35px;}
.flight a:hover{background: #ed4402;}
.city-show img{float: left;}
.city-msg{color: #522a00;font-size: 26px;width: 605px;margin-left: 560px;height: 245px;overflow: hidden;font-weight: bold;padding-top: 30px;line-height: 34px;}
.copyright{text-align: center;margin-top: 100px;color: #fff;font-size: 18px;}
