<!DOCTYPE html>
<html ng-app="hehe">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="angular.min.js"></script>
		<script>
			var m1=angular.module('hehe',[]);
			m1.controller('myhehe',['$scope','$filter',function($scope,$filter){
				$scope.action = [{'name':'820','age':28,'height':178},
				{'name':'2009','age':21,'height':180},
				{'name':'burning','age':25,'height':172}
				];
                
                $scope.fnSort = function(arg){
                    $scope.action = $filter('orderBy')($scope.action,arg);
                }
                $scope.num = 1999;
			}])
		</script>
	</head>
	<body>
		<table ng-controller="myhehe" border="1">
            <tr>
            <th>姓名</th>
            <th ng-click="fnSort('age')">年龄</th>
            <th>身高</th>
            </tr>
		    <tr ng-repeat="item in action">
                <td>{{$index}}</td>
		        <td>{{item.name}}</td>
		        <td>{{item.age}}</td>
		        <td>{{item.height}}</td>
		    </tr>
		</table>
		<p ng-controller="myhehe">{{num|currency:"&yen;"}}</p>
	</body>
</html>
